<% layout('main.ejs')%>
    <h1>Admin Login</h1><br>
    <form action="/admin/login" method="post">
        <div class="inp-box">Username :</div>
        <input type="text" name="username" id="username" required><br><br>
        <div class="inp-box">Password :</div>
        <input type="password" name="password" id="password" required><br><br>
        <button type="submit">Submit</button>
    </form>